{% extends "base.html" %}

{% block style %}
    abbr[data-original-title] {
        border-bottom: 1px dotted;
        cursor: help;
    }
{% endblock %}

{% block contents %}
    <section>
        <h1 class=title>Hi @{{ twitter_user.screen_name }}</h1>
        {% if not profile.settings.paused %}
            <p>Your next retweet will be {% spaceless %}{% include 'utils/datetime.html' with datetime=profile.next_retweet %}{% endspaceless %}.
            <p>You retweet {{ profile.settings.frequency }} time{{ profile.settings.frequency|pluralize }} a day.
        {% else %}
            <p><strong>Your account is paused. You won't retweet whilst your account is paused.</strong>
            <p>You can unpause it in the <a href="{% url settings %}">settings page</a>.
        {% endif %}

        {% if profile.retweets.all %}
            <p>You have retweeted {{ profile.retweets.count }} time{{ profile.retweets.count|pluralize }}.
        {% endif %}
    </section>

    <section>
        <h2>You last five retweets</h2>

        {% with profile.retweets.all|slice:'5' as last_five_retweets %}
            {% spaceless %}{% include 'utils/retweets.html' with message='your last five' retweets=last_five_retweets start=profile.retweets.count %}{% endspaceless %}
        {% endwith %}
    </section>
{% endblock %}

{% block script %}
    $('abbr').tooltip({
        trigger: 'click',
    });
{% endblock %}
